.container {
    padding: 25px;
    height: 60vh;
    width: 45vw;
    border: 2px solid #efefef;
    border-radius: 10px;
    background: rgb(255, 255, 255);
    background: linear-gradient(37deg, rgba(255, 255, 255, 0.8) 0%, rgba(222, 222, 222, 0.9) 100%);
}

.form-control {
    padding: 8px;
    margin: auto;
    width: 85%;
    border: none;
    border-bottom: 1px solid #efefef;
    background: none;
    color: #252525;
    margin: 15px 0;
    font-size: 17px;
}

.form-control:focus {
    outline: none;
}

.weather-content {
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.city,
.temp,
.weather {
    font-size: 24px;
    color: #252525;
}

.temp {
    font-weight: 600;
    font-size: 42px;
}